<!-- <div class="container-fluid">
    <form>
        <label class="label" >usuario</label><br>
        <input type="text" name="usuario" class="txtUsuario" [(ngModel)]="usuario"><br><br>
    
        <label class="label" >contraseña</label><br>
        <input type="text" name="contraseña" class="txtContraseña" [(ngModel)]="password"><br><br>
    
        <button class="btnEnviar" (click)="login($event)">ENVIAR</button> <br>
        <button class="btn btn-danger" (click)='view()'>ver logueado</button>
    </form>
    
</div>
<br><br>
<div>
    <form>
            
        <button class="btn btn-primary" (click)='signOut()'>Salir</button>
    </form>
</div>

<br><br>
<input type="button" class="btn btn-primary" value="Página anterior" onClick="history.go(-1);"> 



 -->